@charset "utf-8";


*, *:after, *:before { -webkit-box-sizing: border-box;}



body {
	background: #2f3238;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}
















