html, body{
height:100%;
}

#full_screen {
    min-height:100%; /*使内容高度和body一样*/
    margin-bottom:-242px;/*向上缩减80像素，不至于footer超出屏幕可视范围*/
}
#article{
    padding-bottom: 270px;
}

h2{
    text-align: center;
    font-family: "华文楷体","Microsoft Yahei",arial,sans-serif !important;
}

.con a{
    font-family: "Microsoft Yahei",arial,sans-serif;
    cursor:pointer;
}
#blog_post_time{
    float:right;
}
#btn1{
    float:right;
    font-family: "Microsoft Yahei",arial,sans-serif;
    font-size: 11px;
    margin-right: 2.75%;
    display: none !important;
}
#comment{
    height:40px;
    /*margin-bottom: 10px;*/
}
.replay{
    font-family: "Microsoft Yahei",arial,sans-serif;
}
.user_replay{
    padding-left: 2.75%;
    border-bottom: 1px solid #eee;
}

.lately_access{
    height:75px;
    padding: 0 2.75%;
}

.replay .replay_user span{
    margin-top: 0 !important;
    color: #337AB7;
}

blockquote{
    font-size: 14px;
}


.main-footer {
    margin-top: 57px;
    padding: 14px 14px;
    text-align: center;
    font-size: 14px;
    /*font-family: "华文楷体","Microsoft Yahei",arial,sans-serif !important;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    background-color: #F4F4F4;
    color: #888 !important;
}
hr{
    margin: 0;
}

.blog_replay{
    display:block;
    float:right;
    position:relative;
    top:-20px;
    left:-50px;
}

.main-footer a{
    outline: medium none !important;
    color: #888 !important;
    text-decoration: none !important;
    /*line-height: 80px;*/
    margin:0 auto !important;
}
iframe{
    display: none;
}

