/*@font-face {*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*font-family: '华文楷体';*/
    /*src: url('/static/css/typeface/ST华文楷体.TTF');*/
/*}*/

/*@font-face {*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*font-family: '华文行楷';*/
    /*src: url('/static/css/typeface/STXINGKA.TTF');*/
/*}*/

.page-header h1 {
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "STXingkai40e75d13763a7", "华文行楷", "Microsoft Yahei", arial, sans-serif !important;
    font-weight: 100;
    padding: 30px 0 20px;
}

.page-header {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0 !important;
    padding: 0px 0 20px 0;
    display: block;
    background-color: white;
}

.content-wrap {
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    margin-bottom: 50px;
}

.post-content {
    padding: 20px 10px 5px 10px;
}

.post-title {
    font-family: "华文楷体", "Microsoft Yahei", arial, sans-serif !important;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 21px 0;
    border-radius: 3px;
}

.page {
    text-align: center;
}


.main-footer {
    margin-top: 100px;
    padding: 14px 14px;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    background-color: #F4F4F4;
}

.pagination > li > a {
    margin-left: 1px;
    /*line-height: 32px;*/
    /*border: 1px solid #dddddd*/
}

/*.pagination > li > a:hover{*/
    /*background-color: #286090;*/
/*}*/

.navbar {
    background-color: #286090;
    border-color: #204d74;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {

    background-color: #286090;
    border-color: #286090;
}

.access-count {
    float: right;
    margin-right: 15px;
}

.page {
    width: 90% !important;
    max-width: 950px !important;
    margin: 0 auto !important;
}