.lr{
    position:absolute;
    top:40%;
    display: block;
    font-size: 80px !important;
}

.left{
    float:left;
    left:5%
}
.right{
    float:right;
    right:5%;
}

#myCarousel{
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

.carousel-inner{
    position:absolute;
    top:38%;
    color:#0f0;
}

.carousel-indicators li{
    border: 1px solid #0f0 !important;
}
.carousel-indicators .active{
    background-color: #0f0 !important;
}

h1{
    text-align: center;;
}

a{
    color:#0f0;
}

a:hover{
    color: #0f0;
    text-decoration:none;
}
a:focus{
    color: #0f0;
    text-decoration:none;
}

body{
    background-color: black;
}

a:focus {  outline:none;   -moz-outline:none;}
