
.container {
    width: 992px;
    position: relative;
    right: 15px;
}

body {
    background: url(../image/wow-bg2.jpg) no-repeat center top;
    overflow-y: hidden;
    height: 2000px;
}

a:focus {
    outline: 0;
}

.video-js {
    width: 600px;
    height: 370px;
    /*box-shadow: 0 2px 10px black;*/
}

.media {
    width: 90%;
    /*margin: 0 auto;*/
    margin-top: 25px;
    margin-bottom: 25px;
}

#num1 {
    /*margin-top: 10px;*/
    width: 640px;
    height: 390px;
    float: left;
    padding: 0 20px 0 20px;
    /*background-color: #1a0f08 !important;*/
    margin-left: 50px;
    /*box-shadow: #000 0 0 10px;*/
    box-shadow: 0px 2px 6px 0px #000;
}

.media-left {

}

.video-js .vjs-big-play-button {
    border-radius: 0 !important;
    height: 45px !important;
    width: 40px !important;
    position: absolute !important;
    top: 325px !important;
    left: 0 !important;
    border: none !important;
    z-index: 2 !important;
    background-color: black !important;
    color: white !important;
}

.video-js .vjs-big-play-button:hover{
    color: #ffb100 !important;
}

.media-body p {
    font-family: "华文楷体", "Microsoft Yahei", arial, sans-serif !important;
    font-size: 18px;
}

.waiceng {
    position: relative;
    /*background: url("../image/gd.png") no-repeat;*/
    /*margin-top: 100px;*/
    padding: 20px 0 20px 20px;
    float: right;
}

.caidan {
    position: relative;
    /*background-color: #0F192A;*/
    overflow: auto;
    overflow-y: hidden;
    height: 615px;
    width: 204px;
    float: right;
    padding-left: 22px;
    /*margin-top: 100px;*/
}

.video_a {
    display: block;
    /*background: url("../image/wow-bg2.jpg") no-repeat;*/
    width: 120px;
    height: 75px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: #000 0 0 10px;

}

.video_span {
    background: url("../image/sprite.png");
    background-position: -80px 0;
    display: block;
    height: 75px;
    width: 120px;

}

.video_span:hover {
    background-position: -80px -150px !important;
}

.video_span:focus {
    background-position: -80px -225px !important;
}

/*.video_span:active {*/
/*background-position: -80px -225px !important;*/
/*}*/

#a1 {
    background: url("../image/Arthas1.JPG") no-repeat;
    background-size: 120px 75px;
}

#a2 {
    background: url("../image/Medivh.JPG") no-repeat;
    background-size: 120px 75px;
}

#a3 {
    background: url("../image/Arthas2.JPG") no-repeat;
    background-size: 120px 75px;
}

#a4 {
    background: url("../image/Arthas3.JPG") no-repeat;
    background-size: 120px 75px;
}

#a5 {
    background: url("../image/Arthas4.JPG") no-repeat;
    background-size: 120px 75px;
}

#a6 {
    background: url("../image/dlr.JPG") no-repeat;
    background-size: 120px 75px;
}

#a7 {
    background: url("../image/Archimonde.JPG") no-repeat;
    background-size: 120px 75px;
}

#a8 {
    background: url("../image/glm.JPG") no-repeat;
    background-size: 120px 75px;
}

#a9 {
    background: url("../image/DLN.JPG") no-repeat;
    background-size: 120px 75px;
}

#a10 {
    background: url("../image/7.0.JPG") no-repeat;
    background-size: 120px 75px;
}

.viewport-content {
    height: 615px;
    width: 120px;
    position: relative;
}

.track {
    width: 16px;
    position: relative;
    background-repeat: no-repeat
}

.thumb-bot {
    height: 100%;
    width: 16px;
}

.ps-scrollbar-y {
    margin-right: 15px;
    width: 14px !important;
    background: url("../image/sprite.png") no-repeat;
    background-position: -32px 100%;
}

.ps-scrollbar-y:hover{
    background-position: -64px 100%;
}

.vjs-modal-dialog-content {
    display: none;
}

.vjs-error-display {
    display: none;
}

.vjs-has-started .vjs-control-bar {
    display: flex;
}

.total {
    height: 655px;
    width: 942px;
    background: url("../image/gundong-bg.jpg") no-repeat;
}

.master {
    padding: 40px 0 150px 20px;
    background-color: #1a0f08 !important;
}

.words {
    position: absolute;
    top: 470px;
    left: 105px;
    float: left;
    width: 600px;
    /*color: #f9efa2;*/
    color: #7f7231;
    /*height: 200px;*/
    /*background-color: #1dc116;*/
}

.vjs-poster {
    /*background-size: 600px 398px;*/
    background: no-repeat !important;
}