<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/msg_window.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/about.js"></script>
    <title>关于这里 | Pyworm的博客</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/msg_windows.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/about.css" type="text/css"/>
    <script type="text/javascript">
        $(document).ready(function(){
            var host = window.location.host;
            document.getElementById('blog_search').href = "http://" + host + "/search_blog";
        });
    </script>
</head>
<body>


<div class="container">
    <h1>Welcome to my website</h1>
    <hr/>
    <div class="site">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本站前端界面设计，后端代码编写由本人独自开发完成。</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本站后端是由Django和Tornado融合开发而成，前端使用Bootstrap框架。</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本站后端实现了MetaWeblog API接口，可以支持Windows Live Writer发布博客。</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本站代码部署在阿里云，视频、音频资源存放在阿里云OSS&七牛云存储，前端使用由HTML5实现的播放器。</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本站代码放在GitHub上更新维护。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;很久之前写的代码，代码很low，Django的版本还是1.6的版本，好歹没什么BUG，网站可以稳定的运转。</p>
    </div>
    <button type="button" class="btn btn-default btn-lg" id="div1" onFocus="this.blur()"
            onclick="window.location='https://github.com/mazhenpy/pywormsite'">GITHUB 项目主页
    </button>
    <div class="cut">
        <hr/>
        <div class="main-footer">
{#            <button type="button" class="btn btn-primary btn-sm" id="div2" onclick="a()">与我留言</button>#}
            <span>联系邮箱:1053556056@qq.com</span>

            <p>Copyright ©2015-2016 All rights reserved. Powered by Pyworm.</p>

            <p>最近访客：</p>
            {% for ip_attribution,ip_access_time in ips_info %}
                <div style="float:left;width:20%;padding-left:1em;">
                <a style="color: #0F0;">{{ ip_attribution }}</a><br/>
                    <small>--{{ ip_access_time }}</small>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
{% include 'msg_window.html' %}
<script type="text/javascript">
    $youziku.load(".site", "4f7d3fba2aad4f929293144c7b6d1fcb", "STKaitiSc");
    $youziku.load(".main-footer", "4f7d3fba2aad4f929293144c7b6d1fcb", "STKaitiSc");
    $youziku.draw();
</script>
</body>
</html>