<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/pagination.js"></script>
    <title>Python</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/nav_header.css" type="text/css"/>

</head>
<body>
{% include 'nav_header.html' %}





</body>
</html>