<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/pagination.js"></script>
    <title>{{ categorie }} | Pyworm的博客</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/blogs.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/nav_header.css" type="text/css"/>
    <script type="text/javascript">
        $(document).ready(function(){
            var host = window.location.host;
            document.getElementById('blog_search').href = "http://" + host + "/search_blog";
        });
    </script>
    <script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
    <script type="text/javascript">
        $youziku.load(".post-title", "5ee3da0f20ff4b47a93f8e31781c3f51", "ST华文楷体");
        $youziku.load(".page-header h1", "ed0ce9921ad34b4091464de7355aabf3", "ST华文行楷");
        $youziku.draw();
    </script>
</head>
<body>
{% include 'nav_header.html' %}

<div class="container">
    <div class="page-header">
        <h1>{{ categorie }}</h1>
    </div>

    {% for blog in blogs %}
    <section class="content-wrap">
        <h3 class="post-title"><a href="/blog/{{ blog.blog_id }}/">{{ blog.title }}</a></h3>

        <div class="post-content">
            {% autoescape off %}
            {{ blog.summary }}
            {% endautoescape %}
            <span class="post-meta"><time class="data">{{ blog.post_time|date:"Y-m-d" }}</time></span>
            <div class="access-count"><span>PV[{{ blog.PV_num }}] &nbsp; IP[{{ blog.IP_num }}]</span></div>
        </div>

    </section>
    {% endfor %}

    <div class="main-footer">
        {% include 'pagination.html' %}
    </div>
</div>
</body>
</html>