<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    {#    <script type="text/javascript"#}
    {#            src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>#}

    <title>磁力搜索 | Pyworm的博客</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/blogs.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/bt_search.css" type="text/css"/>

    <script type="text/javascript">
        $(document).ready(function () {
            var host = window.location.host;
            document.getElementById('chat_link').href = "http://" + host + "/chat";
            document.getElementById('link_chat').href = "http://" + host + "/chat";
            document.getElementById('blog_search').href = "http://" + host + "/search_blog";
        });

        function c(parms) {
            var words = parms.split(",");
            var page_index = words[0];
            var bt_keywords = words[1];
            window.location.href = '/bt_search' + '?page_index=' + page_index + '&bt_keywords=' + bt_keywords
        }
        function check(){
            var bt_content = document.getElementById("bt_content").value;
            if(bt_content == ""){
                return false;
            }
        }
    </script>

</head>

<body>

<div class="page-header clearfix">
    <form class="navbar-form" role="search" method='get' action="/bt_search" onsubmit="return check()">
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group col-sm-6" style="padding: 0;">
              <input type="text" class="form-control input2" id="bt_content" autocomplete="off" name="bt_keywords" style="border-radius:0;height: 48px; font-size: 18px;">

              <div class="input-group-btn" style="width: 82px !important; ">
                <button class="btn btn-default" id="bt_btn" type="submit" style="border-radius:0;height: 48px; font-size: 18px;">磁力搜索</button>
              </div>

            </div>
{#                <p style="color: #ccc">声明：本搜索引擎基于DHT协议实现，只负责搜索，至于搜索出来的是什么东西，和本人没有任何关系。</p>#}
          </div>
        </div>
    </form>
</div>

<div class='background_up'>

    <div class="container">
        <section class="content-wrap">
            <h2 class="post-title"><a class="post-title-a"
                                      href="/bt_detail_search?bt_id={{ link.get('_id', '') }}"></a> {{ link.get('name', '') }}&nbsp&nbsp{{ link.get('total_size', '') }}
            </h2>

            <p style="padding-left: 5px; margin-top: 40px;">磁力链接：</p>
            <p class="bt_detail_p" style="padding-left: 5px; background-color: white; "><a href="{{ link.get('magnet', '') }}">{{ link.get('magnet', '') }}</a></p>


        </section>



    </div>




</div>

</body>
</html>