<div id='clock'>
    <object id="honehoneclock" width="160" height="70" align="middle"
            codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"
            classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
        <param value="always" name="allowScriptAccess">
        <param value="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_tr.swf" name="movie">
        <param value="high" name="quality">
        <param value="#ffffff" name="bgcolor">
        <param value="transparent" name="wmode">
        <embed width="160" height="70" align="middle" pluginspage="http://www.macromedia.com/go/getflashplayer"
               type="application/x-shockwave-flash" allowscriptaccess="always" name="honehoneclock"
               bgcolor="#ffffff" quality="high"
               src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_tr.swf" wmode="transparent">
    </object>
    <div id='zdd'></div>
</div>