<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/nav_header.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/tc_regist.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/tc_login.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/pagination.js"></script>
    <title>博客首页 | Pyworm的博客</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/index.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/blogs.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/login_window.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/nav_header.css" type="text/css"/>
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/25511/146/5766bb87f629d80d7c685ff8.css' rel='stylesheet' type='text/css' />
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/25511/422/5766bcf4f629d80d7c685ff9.css' rel='stylesheet' type='text/css' />
    <script type="text/javascript">
        $(document).ready(function(){
            var host = window.location.host;
            document.getElementById('chat_link').href = "http://" + host + "/chat";
            document.getElementById('link_chat').href = "http://" + host + "/chat";
            document.getElementById('blog_search').href = "http://" + host + "/search_blog";
        });
    </script>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand active" href="/index/">首页</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
 <!--{#                <li  id="index"><a href="/index/" target='_blank'>首页</a></li>#}-->
                <li  id="search_blog"><a href="" id="blog_search">博客搜索</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的博客 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/web/">Web开发</a></li>
                        <li><a href="/python/">Python</a></li>
                        <li><a href="/tornado/">Tornado</a></li>
                        <li><a href="/spider/">网络爬虫</a></li>
                    </ul>
                </li>
                <li  id="chat"><a href="/chat" target="_blank">聊天室</a></li>
                <li  id="collection"><a href="/collection/" style="font-family: '华文楷体'" target="_blank">影音</a></li>
                <li id="about"><a href="/about/">关于这里</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a class="theme-regist" href="javascript:">注册</a></li>
                <li><a class="theme-login" href="javascript:">登录</a></li>
            </ul>

        </div>
    </div>
    </div>
</nav>

<div class="page-header clearfix">
    <h1>
        <span class="yusi-mono">Pyworm的博客</span>
            <span class="yusi-bloger">
                life is shot,i use python
        </span>
    </h1>
</div>

<div class='background_up'>

    <div class="container">
        {% for blog in blogs %}
            <section class="content-wrap">
                <h3 class="post-title"><a href="/blog/{{ blog.blog_id }}/">{{ blog.title }}</a></h3>

                <div class="post-content">
                    <p>{{ blog.summary }}</p>
                    <span class="post-meta"><time class="data">{{ blog.post_time|date:"Y-m-d" }}</time></span>
                    <div class="access-count"><span>PV[{{ blog.PV_num }}] &nbsp; IP[{{ blog.IP_num }}]</span></div>
                </div>

            </section>
        {% endfor %}


    </div>
</div>

{% include 'pagination.html' %}



<footer class="main-footer">
    <hr/>
    <div class="container">
        <a>Pyworm 版权所有 | 基于Python开发 | Copyright © 2015-2016 | 托管于 阿里云主机&七牛云存储 | 苏ICP备16008519号
            <br>
            网站统计 | 今日PV[{{ access_day_pv }}] | 今日IP[{{ access_day_ip }}] | 昨日PV[{{ access_yesterday_pv }}] | 昨日IP[{{ access_yesterday_ip }}] | 当前在线[{{ online_ips }}]</a>
    </div>
</footer>

{% include 'login_window.html' %}
</body>
</html>

