<div class="theme-popover-msg">
    <div class="msg_body">
    <div class="theme-poptit-msg">
        <a href="javascript:" title="关闭" class="close">×</a>
    </div>


        <form class="form-horizontal" id="msg_form">
                <textarea class="form-control" rows="4" id="msg_content"></textarea>

                <button type="submit" class="btn btn-default btn-sm" id="msg_btn" onclick="b()">留言</button>
        </form>
        <div class="clear"></div>
        <hr style="height:1px;border:none;border-top:1px solid #0f0;margin-bottom: 0;margin-top: 30px;" />
        <div class="msg">

        <div class="con">

        </div>

            {% for user, time in messages %}
                <div class="user_replay">
                    <div class="replay replay_user"><small>{{ user }}</small></div>
                    <br>
                    <div class="replay replay_time"><small>{{ time }}</small></div>
                </div>
            {% endfor %}


        </div>
    </div>

</div>
<div class="theme-popover-mask-msg"></div>

