<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <title>网站收藏 | Pyworm的博客</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}interface/css/demo.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}interface/css/set_yui.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/my_collection.css" type="text/css"/>
    <script type="text/javascript">
    // For Demo purposes only (show hover effect on mobile devices)
    [].slice.call( document.querySelectorAll('a[href="#"') ).forEach( function(el) {
        el.addEventListener( 'click', function(ev) { ev.preventDefault(); } );
    } );
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            var host = window.location.host;
            document.getElementById('blog_search').href = "http://" + host + "/search_blog";
        });
    </script>
</head>
<body>
{% include 'nav_header.html' %}


<div class="container">
	<div class="content">
        <div class="grid" id="grid_music">
			<figure class="effect-apollo">
				<img src="/static/image/music.jpg" alt="img18"/>
				<figcaption>
					<h2><span>Music</span></h2>
					<p>音乐</p>
					<a href="/music/">View more</a>
				</figcaption>
			</figure>
		</div>

        <div class="grid" id="grid_novel">
			<figure class="effect-oscar">
				<img src="/static/image/novel2.jpg  " alt="img06"/>
				<figcaption>
					<h2><span>Novel</span></h2>
					<p>魔兽简史</p>
					<a href="#">View more</a>
				</figcaption>
			</figure>
		</div>

		<div class="grid" id="grid_movie">
			<figure class="effect-sadie">
				<img src="/static/image/movie2.jpg" alt="img12"/>
				<figcaption>
					<div>
						<h2><span>Movie</span></h2>
						<p>视频</p>
					</div>
					<a href="/warcraft/">View more</a>
				</figcaption>
			</figure>
		</div>

        <div class="grid" id="grid_notes">
			<figure class="effect-sarah">
				<img src="/static/image/notes.jpg" alt="img12"/>
				<figcaption>
					<div>
						<h2><span>Notes</span></h2>
						<p>尘封的笔记</p>
					</div>
					<a href="/notes/">View more</a>
				</figcaption>
			</figure>
		</div>



	</div>
</div><!-- /container -->
<script type="text/javascript">
// For Demo purposes only (show hover effect on mobile devices)
[].slice.call( document.querySelectorAll('a[href="#"') ).forEach( function(el) {
	el.addEventListener( 'click', function(ev) { ev.preventDefault(); } );
} );
</script>
<!--效果html结束-->


</body>
</html>